@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Oswald:wght@300;400;500;600;700&display=swap');

html {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;}

ul {
  list-style: none;
  font-size: inherit;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
