.section-title {
  text-align: center;
  padding: 10rem 0;
  .section-title-top {
    font-size: 2rem;
    font-weight: 600;
    color: #bbbbbb;
    letter-spacing: 0.2rem;
  }

  .section-title-main {
    font-size: 4rem;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.2rem;
    padding: 1rem 0;
    border-bottom: $secondary-color solid 3px;
    display: inline-block;
  }
}

#main-content {
  .section {
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(70px);

    &.show {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

/*SECTİON 2*/

#section-1 {
  width: 100%;
  height: 100%;

  #section-1-container {
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    margin-top: -7rem;
    

    .left-side {
      background-color: $dark-color;
      padding: 2rem;
      color: #fff;
      flex: 1;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      


      h4 {
        font-size: 3rem;
        padding-bottom: 1.5rem;
      }

      p {
        text-align: justify;
        padding-bottom: 1.5rem;
        font-size: 1.6rem;
      }
    }

    .right-side {
      flex: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      }
    }
  }
}

/*SECTİON 2*/

#section-2 {

  .section-content {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    gap: 5rem;

    .card {
      padding: 5rem 2rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 1rem;
      font-size: 1.6rem;
      transition: all 0.5s;

      &:nth-child(even) {
        background-color: $primary-color;
        color: #fff;
      }

      .card-title {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      .card-content {
        font-weight: 400;
      }

      &:hover {
        transform: translateY(-20px);
      }
    }
  }
}

#section-3 {
  .container {
  .section-3_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 15rem;
  }
  }
}
