.about-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10rem;
    margin-bottom: 20rem;
    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        border-radius: 2rem;
    }

    .about-text {
        padding: 0 1rem;

        h4 {
            font-size: 2.5rem;
            padding-bottom: 1rem;
        }

        p{
            font-size: 1.5rem;
            text-align: justify;

        }
    }

}  