#main-content {
  .section {
    opacity: 0;
    transition: all 0.8s ease;
    transform: translateY(70px);

    &.show {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

/*SECTİON 2*/

#section-1 {
  width: 100%;
  height: 100%;

  #section-1-container {
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    margin-top: -7rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .left-side {
      background-color: darken($primary-color, 20);
      padding: 2rem;
      color: #fff;
      flex: 1;

      h4 {
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
      }

      p {
        text-align: justify;
        padding-bottom: 1.5rem;
        font-size: 1.6rem;
      }
    }

    .right-side {
      flex: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

/*SECTİON 2*/

#section-2 {
  .section-title {
    text-align: center;
    padding: 10rem 0;
    .section-title-top {
      font-size: 2rem;
      font-weight: 600;
      color: #bbbbbb;
      letter-spacing: 0.2rem;
    }

    .section-title-main {
      font-size: 4rem;
      font-weight: 600;
      color: #000;
      letter-spacing: 0.2rem;
      padding: 1rem 0;
      border-bottom: $secondary-color solid 3px;
      display: inline-block;
    }
  }

  .section-content {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    gap: 5rem;

    .card {
      padding: 5rem 2rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 20px;
      font-size: 1.6rem;
      transition: all 0.5s;

      &:hover {
        transform: translateY(-20px);
      }
    }
  }
}

#section-3 {
  .section-container {
    .section-3_container {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 3rem;
      margin: 20rem 0;

      .section-3_img {
        flex: 1;
        img {
          width: 90%;
          object-fit: cover;
          object-position: center;
          border-radius: 2rem;
        }
      }

      .section-3_text {
        flex: 1;
        text-align: justify;
        align-self: center;
        .section-3_text_title {
          font-size: 2rem;
          letter-spacing: 1px;
          color: #888;
          margin-bottom: 1rem;
        }

        .section-3_text_p1 {
          font-size: 3rem;
          letter-spacing: 1px;
          color: #333;
          font-weight: 600;
          margin-bottom: 2rem;
        }

        .border-bottom {
          width: 5rem;
          border-color: #d2d2d2;
          border-width: 3px;
          border-bottom-style: solid;
          margin-bottom: 2rem;
        }

        .section-3_text_p2 {
          font-size: 2.7rem;
          letter-spacing: 1px;
          color: $secondary-color;
          font-weight: 600;
          margin-bottom: 2rem;
        }

        .section-3_text_p3 {
          font-size: 2rem;
          letter-spacing: 1px;
          color: #333;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
