@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Oswald:wght@300;400;500;600;700&display=swap");
.btn {
  display: inline-block;
  padding: 1.5rem 2.5rem;
  border: none;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 600; }

.btn-secondary {
  background-color: #1F8A70;
  transition: all 0.8s; }
  .btn-secondary:hover {
    background-color: #26a788;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.btn-primary {
  background-color: #2E4F4F; }
  .btn-primary:hover {
    background-color: #3b6666;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.container {
  width: 80%;
  margin: 0 auto; }

#lawyer-card {
  display: flex; }
  #lawyer-card #lawyer-card-text {
    margin-left: 2rem;
    text-transform: uppercase;
    font-size: 2rem; }
    #lawyer-card #lawyer-card-text h3 {
      font-weight: 800; }
      #lawyer-card #lawyer-card-text h3#lawyer {
        color: #1F8A70; }

html {
  font-size: 10px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }

ul {
  list-style: none;
  font-size: inherit; }

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

.header#home-header {
  background-image: url("../img/bg-2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 86rem;
  position: relative;
  top: 0;
  transition: all .8s; }
  .header#home-header::after {
    content: "";
    width: 100%;
    height: 86rem;
    background-color: #000;
    position: absolute;
    opacity: 0.6; }

.header#about-header {
  background-image: url("../img/bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 50rem;
  position: relative;
  top: 0;
  transition: all .8s; }
  .header#about-header::after {
    content: "";
    width: 100%;
    height: 50rem;
    background-color: #000;
    position: absolute;
    opacity: 0.8; }

.header #header-content {
  text-align: center; }
  .header #header-content h2 {
    font-size: 5rem;
    font-weight: 400;
    padding-top: 8rem; }

.header .fa-chevron-right, .header .fa-chevron-left {
  font-size: 5rem;
  position: absolute;
  padding: 2rem;
  color: #ccc;
  opacity: .7;
  cursor: pointer;
  transition: all .5s; }
  .header .fa-chevron-right:hover, .header .fa-chevron-left:hover {
    opacity: .4; }

.header .fa-chevron-right {
  right: 0; }

.header #top-header {
  position: absolute;
  color: #fff;
  z-index: 5;
  width: 100%;
  padding: 2.5rem 0; }
  .header #top-header #top-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header #top-header #top-header-container #top-header-right .fa-phone {
      color: #2E4F4F;
      font-size: 2.5rem; }
    .header #top-header #top-header-container #top-header-right #phone-number {
      font-size: 2rem;
      margin-left: 0.5rem;
      font-weight: 500; }

.header #bottom-header {
  position: absolute;
  color: #fff;
  z-index: 15;
  width: 100%;
  padding: 2.5rem 0;
  top: 10rem; }
  .header #bottom-header #bottom-header-container #navbar {
    display: flex;
    background-color: #2E4F4F;
    padding: 2rem 0;
    border-radius: 1rem;
    font-weight: 400; }
    .header #bottom-header #bottom-header-container #navbar li {
      padding-left: 4rem;
      font-size: 2rem;
      transition: all 0.5s; }
      .header #bottom-header #bottom-header-container #navbar li:hover {
        color: #1F8A70; }

.header #header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  color: #fff;
  z-index: 10; }
  .header #header-content #header-content-container.home-header-content {
    text-align: left; }
  .header #header-content #header-content-container #contact-button {
    margin-top: 2rem;
    display: inline-block;
    font-weight: 600;
    font-size: 1.8rem; }
  .header #header-content #header-content-container #header-content-title {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    margin-top: 10rem; }
  .header #header-content #header-content-container #header-content-text {
    font-size: 2rem; }

.section-title {
  text-align: center;
  padding: 10rem 0; }
  .section-title .section-title-top {
    font-size: 2rem;
    font-weight: 600;
    color: #bbbbbb;
    letter-spacing: 0.2rem; }
  .section-title .section-title-main {
    font-size: 4rem;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.2rem;
    padding: 1rem 0;
    border-bottom: #1F8A70 solid 3px;
    display: inline-block; }

#main-content .section {
  opacity: 0;
  transition: all 0.8s ease;
  transform: translateY(70px); }
  #main-content .section.show {
    opacity: 1;
    transform: translateY(0px); }

/*SECTİON 2*/
#section-1 {
  width: 100%;
  height: 100%; }
  #section-1 #section-1-container {
    display: grid;
    position: relative;
    grid-template-columns: 50% 50%;
    margin-top: -7rem; }
    #section-1 #section-1-container .left-side {
      background-color: #333;
      padding: 2rem;
      color: #fff;
      flex: 1;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem; }
      #section-1 #section-1-container .left-side h4 {
        font-size: 3rem;
        padding-bottom: 1.5rem; }
      #section-1 #section-1-container .left-side p {
        text-align: justify;
        padding-bottom: 1.5rem;
        font-size: 1.6rem; }
    #section-1 #section-1-container .right-side {
      flex: 1; }
      #section-1 #section-1-container .right-side img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem; }

/*SECTİON 2*/
#section-2 .section-content {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  gap: 5rem; }
  #section-2 .section-content .card {
    padding: 5rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    font-size: 1.6rem;
    transition: all 0.5s; }
    #section-2 .section-content .card:nth-child(even) {
      background-color: #2E4F4F;
      color: #fff; }
    #section-2 .section-content .card .card-title {
      font-size: 2rem;
      margin-bottom: 1rem; }
    #section-2 .section-content .card .card-content {
      font-weight: 400; }
    #section-2 .section-content .card:hover {
      transform: translateY(-20px); }

#section-3 .container .section-3_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 15rem; }

.about-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10rem;
  margin-bottom: 20rem; }
  .about-container img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 2rem; }
  .about-container .about-text {
    padding: 0 1rem; }
    .about-container .about-text h4 {
      font-size: 2.5rem;
      padding-bottom: 1rem; }
    .about-container .about-text p {
      font-size: 1.5rem;
      text-align: justify; }

.contact-container {
  background-color: #333;
  padding: 5rem 0; }

.contact {
  display: flex;
  color: #fff; }
  .contact div {
    flex: 1;
    text-align: justify; }
  .contact h4 {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 2rem 0; }
  .contact a, .contact address {
    font-size: 1.6rem;
    font-weight: 400; }

.article-container {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem; }
  .article-container .card {
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    height: 40rem;
    transition: all .4s; }
    .article-container .card:hover {
      transform: translateY(-2rem); }
    .article-container .card img {
      width: 100%;
      height: 50%;
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem; }
    .article-container .card .card-body {
      padding: 1rem 2rem;
      text-align: justify; }
      .article-container .card .card-body h5 {
        font-size: 2.5rem;
        padding: 1rem 0; }
      .article-container .card .card-body .card-text {
        font-size: 1.6rem;
        text-align: justify; }
      .article-container .card .card-body .card-btn {
        margin: 1rem 0;
        color: #fff; }

.article-container {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem; }
  .article-container .card {
    justify-self: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 1rem;
    height: 40rem;
    transition: all .4s; }
    .article-container .card:hover {
      transform: translateY(-2rem); }
    .article-container .card img {
      width: 100%;
      height: 50%;
      object-fit: cover;
      object-position: center;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem; }
    .article-container .card .card-body {
      padding: 1rem 2rem;
      text-align: justify; }
      .article-container .card .card-body h5 {
        font-size: 2.5rem;
        padding: 1rem 0; }
      .article-container .card .card-body .card-text {
        font-size: 1.6rem;
        text-align: justify; }
      .article-container .card .card-body .card-btn {
        margin: 1rem 0;
        color: #fff; }

#main-footer {
  background-color: #333;
  color: #fff;
  margin-top: 3rem;
  padding: 3rem 0;
  font-size: 1.6rem; }
  #main-footer .footer-container {
    display: flex; }
    #main-footer .footer-container div {
      margin: 0 1rem;
      flex: 1;
      padding: 1rem; }
      #main-footer .footer-container div p {
        text-align: justify; }
      #main-footer .footer-container div h4 {
        margin-bottom: 1rem; }
    #main-footer .footer-container .footer-info {
      margin-left: 0;
      padding-left: 0; }
      #main-footer .footer-container .footer-info #lawyer-card {
        margin: 0 0 1rem 0;
        padding: 0; }
      #main-footer .footer-container .footer-info h3 {
        font-size: 1.5rem; }
      #main-footer .footer-container .footer-info .social-media {
        margin-left: 0;
        padding-left: 0; }
        #main-footer .footer-container .footer-info .social-media .fa-brands {
          font-size: 2.5rem;
          padding: 0.5rem;
          color: #1F8A70; }
    #main-footer .footer-container .footer-article ul li {
      margin-bottom: 1rem; }

#copyright-footer {
  background-color: #111;
  color: #fff; }
  #copyright-footer .copyright-footer-container {
    font-size: 1.5rem;
    padding: 2rem 0; }
